#gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: transparent;
}

#sprite {
    width: 126px; /* Single Frame Width (px) */
    height: 80px; /* Single Frame Height (px) */
    background-image: url('nodders.png'); /* Sprite Map Name (.png) */
    background-size: 126px 320px; /* Sprite Map Width (px) and Sprite Map Height (px)*/
    background-position: 0 0;
    animation: playSprite 0.5s steps(4) infinite; /* Replace steps() param with Sprite Animation Frame Count (int) */
    margin-bottom: 10px;
}

@keyframes playSprite {
    from { background-position: 0 0; }
    to { background-position: 0 -320px; } /* 0 to Negative Sprite Map Height (px) */
}

#login-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
}

#login-btn:hover {
    background-color: #1ED760;
}

#author-name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}