#gif-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

#sprite {
    /* width: 300px; /* Width of one frame */
    /* height: 200px; /* Height of one frame */
    width: 126px; /* Width of one frame */
    height: 80px; /* Height of one frame */
    background-image: url('nodders.png'); /* Path to your sprite map */
    background-size: 126px 320px; /* Size of the entire sprite map (width x height) */
    background-position: 0 0;
    animation: playSprite 0.5s steps(4) infinite; /* Number of frames in sprite map */
    margin-bottom: 10px;
}

/* Adjust the keyframes to move vertically across the sprite map */
@keyframes playSprite {
    from { background-position: 0 0; }
    to { background-position: 0 -320px; } /* Move vertically through the height of sprite map */
}

#login-btn {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
}

#login-btn:hover {
    background-color: #1ED760;
}

#author-name {
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: gray;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: fit-content;
}